Release*/
Debug*/
build/
html/
Test-Suite/
Release+Asserts/
Debug+Asserts/
autoconf/
tests/result/
doxygen/
.vscode/
llvm-10.0.0.obj/
.*
!.gitignore
*~
*.o
*.out
*.ll
*.bc
*.opt
*.log
*.status
*.patch
llvm.tar.xz
